.table-container {
    overflow-x: auto;
}

.has-navbar-fixed-top {
    padding-top: 0rem !important;
    margin-top: 3.25rem !important;
}

.footer {
    padding: 2rem 1.5rem 2rem !important;
}

.dark-link:hover {
    color: hsl(0, 0%, 98%) !important;
}

@media only screen and (min-width: 1024px) {
    .navbar-menu {
        height: 56px;
    }
}

.button.is-link.is-light {
    background-color: #ebf8ff !important;
}