 {% extends "base.html" %} 
 {% block content %}


<section class="hero is-fullheight is-dark">
	<div class="hero-body">
		<div class="container">
			<h1 class="title intro-title is-2">
				Download a YouTube Video
			</h1>

			<div class="field has-addons">
				<div class="control is-expanded is-medium">
					<input id = "link" class="input is-medium" type="text" placeholder="Enter a YouTube Link">
        </div>
        <div class="control">
          <button id="enter" class="button is-info is-medium">
            Get
          </button>
        </div>
        </div>
			</div>
		</div>
	</section>
  {% endblock %}