{% extends "base.html" %}
{% block content %}

    <section class="hero is-fullheight is-light ">
        <div class="hero-body">
            <div class="container">

                <div class="columns is-vcentered">

                    <div class="column is-content">

                        <div class="intro-content">
                            <h1 class="title intro-title is-2">
                                Video Not Found
                            </h1>

                            <form class="yt-form">
                                <div class="field has-addons">
                                    <div class="control is-expanded is-large">
                                        <input id="link" class="input is-large" autocomplete="off" type="text"
                                               placeholder="Enter a YouTube Link">
                                    </div>
                                    <div class="control">
                                        <button id="enter" type="submit" class="button is-info is-large">
                                            Get
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>

{% endblock %}